/* == Font Size == */
.wojo.tiny.text {
  font-size: 0.688rem;
}
.wojo.mini.text {
  font-size: 0.750rem;
}
.wojo.small.text {
  font-size: 0.875rem;
}
.wojo.normal.text {
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
}
.wojo.medium.text {
  font-size: 1.25rem;
}
.wojo.large.text {
  font-size: 1.5rem;
}
.wojo.big.text {
  font-size: 2rem;
}
.wojo.huge.text {
  font-size: 4rem;
}
.wojo.massive.text {
  font-size: 6rem;
}
.wojo.gigant.text {
  font-size: 8rem;
}
.wojo.caps {
  text-transform: uppercase;
}
.wojo.dimmed.text {
  opacity: .5;
}
.wojo.very.dimmed.text {
  opacity: .85;
}
.wojo.thin.text {
  font-family: 'wSansLight';
}
.wojo.light.text {
  font-family: 'wSansLight';
}
.wojo.bold.text {
  font-family: 'wSansDemi';
}
.wojo.thick.text {
  font-family: 'wSansBold';
}
.wojo.italic.text {
  font-style: italic;
}
.wojo.primary.text {
  color: #41C7F9;
}
.wojo.secondary.text {
  color: #2CBEBF;
}
.wojo.positive.text {
  color: #3FC59D;
}
.wojo.negative.text {
  color: #E2747E;
}
.wojo.white.text {
  color: #fff;
}
.wojo.black.text {
  color: #7F929C;
}
.wojo.primary.bg {
  background-color: #FDFDFD;
}
.wojo.secondary.bg {
  background-color: #F6F7F8;
}
.wojo.tertiary.bg {
  background-color: #e1f5fe;
}
.wojo.quaternary.bg {
  background-color: #F5F5F5;
}
.highlite {
  background-color: #fffde7!important;
}
.wojo.boxed {
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: .250em;
}
.wojo.readonly {
  position: relative;
  cursor: not-allowed;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}
.wojo.readonly:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  border-radius: 0.250em;
  z-index: 10;
}
/* == Scroller == */
.scrollbox_y,
.scrollbox_x {
  overflow: auto;
}
.scrolltrack {
  width: 6px;
  background: rgba(0, 0, 0, 0);
  margin-right: 8px;
  border-radius: 3px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrolltrack:hover,
.scrolltrack.dragging {
  background: #F5F5F5;
}
.scrollhandle {
  width: 4px;
  right: 0;
  background-color: #2B3D4C;
  border-radius: 3px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.scrolltrack:hover .scrollhandle,
.scrolltrack.dragging .scrollhandle {
  width: 6px;
}
.scrolltrackx {
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrollhandlex {
  height: 6px;
  width: 100%;
  background-color: #2B3D4C;
  border-radius: 3px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
/* == Tabs == */	
ul.wojo.tabs {
  margin: 0;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
ul.wojo.tabs,
ul.wojo.tabs li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
}
ul.wojo.tabs li {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: 40px;
  padding-left: 2em;
  margin-right: .5em;
  background-image: url(../images/tabs.png);
  background-repeat: no-repeat;
  background-position: 0 -120px;
}
ul.wojo.tabs li.active:first-child {
  background-position: 0 -80px;
}
ul.wojo.tabs li a {
  display: block;
  height: 40px;
  line-height: 2;
  padding-right: 2em;
  font-family: 'wSansDemi';
  background-image: url(../images/tabs.png);
  background-repeat: no-repeat;
  background-position: 100% -160px;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
ul.wojo.tabs li.active {
  background-position: 0 -40px;
}
ul.wojo.tabs li.active a {
  background-position: 100% 0;
  line-height: 2.5;
  color: #50646F;
}
ul.wojo.tabs li a:hover {
  color: #50646F;
}
ul.wojo.tabs li a .icon {
  padding-right: 1em;
}
ul.wojo.basic.tabs li {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: auto;
  padding-left: 0;
  margin-right: 0;
  background-image: none;
}
ul.wojo.basic.tabs li a {
  display: block;
  height: auto;
  padding: .5em 2em;
  background-image: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
ul.wojo.basic.tabs li a span {
  margin-right: .5em;
}
ul.wojo.basic.tabs li.active {
}
ul.wojo.basic.tabs li.active a {
  line-height: 2;
  color: #50646F;
}
/* == Uploader == */
.wojo.uploader {
  border: 2px dotted #A5A5C7;
  width: 100%;
  color: #92AAB0;
  text-align: center;
  vertical-align: middle;
  padding: 40px 0px;
  margin-bottom: 10px;
  font-size: 1.5em;
  cursor: default;
  user-select: none;
}
.wojo.basic.uploader {
  border: 0;
  width: 100%;
  color: #92AAB0;
  padding: 0;
  margin-bottom: 0;
  font-size: 1em;
  text-align: left;
}
.wojo.uploader-active {
  border-color: #0B85A1;
}
.wojo.uploader div.or {
  font-size: 14px;
  font-weight: bold;
  color: #C0C0C0;
  padding: 10px;
}
.wojo.uploader div.content label {
  background-color: #5a7bc2;
  color: white;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 300px;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px 2px #888888;
}
.wojo.basic.uploader div.content label {
  background-color: transparent;
  color: #5e5e5e;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  margin: 0;
  box-shadow: none;
}
.wojo.uploader div.content span {
  cursor: pointer;
}
.wojo.uploader div.content input,
.wojo.button.uploader input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 0;
  opacity: .0;
  direction: ltr;
  cursor: pointer;
}
.wojo.uploader div.content label:hover {
  background-color: #427fed;
}
.wojo.basic.uploader div.content label:hover {
  background-color: transparent;
}
.wojo.button.uploader {
  width: auto;
  border: 0;
  margin: 0;
  padding: 0.75em 1.5em;
}
/* == Activity == */
ul.wojo.activity,
ul.wojo.activity li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.wojo.activity li {
  clear: both;
}
ul.wojo.activity li .intro {
  float: left;
  width: 150px;
  text-align: right;
  position: relative;
  font-size: .875em;
  font-family: 'RobotoBold';
  padding: 1em;
}
ul.wojo.activity li .intro:after,
ul.wojo.activity li .intro:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #2B3D4C;
  right: -4px;
  border-radius: 6px;
  top: 1.5em;
  z-index: 3
}
ul.wojo.activity li .intro:before {
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 9px;
  right: -5px;
  top: 1.35em;
  z-index: 2
}
ul.wojo.activity li:nth-child(2n) .content {
  background-color: rgba(0, 0, 0, 0.02);
}
ul.wojo.activity li .content {
  margin-left: 150px;
  padding: 1em;
  position: relative;
}
ul.wojo.activity li .content:before {
  position: absolute;
  height: 100%;
  content: "";
  border-left: 2px solid #00BCD4;
  left: 0;
  top: 0;
  z-index: 1
}

@media screen and (max-width:769px) {
ul.wojo.activity li .intro {
  float: none;
  width: auto;
  text-align: left;
  padding: .5em 1em;
  background-color: rgba(0, 0, 0, 0.05);
}
ul.wojo.activity li:nth-child(2n) .content {
  background-color: rgba(0, 0, 0, 0);
}
ul.wojo.activity li .content {
  margin-left: 0;
  padding: .5em 1em;
  position: relative;
}
ul.wojo.activity li .intro:after,
ul.wojo.activity li .intro:before,
ul.wojo.activity li .content:before {
  display: none
}
}
/* == Breadcrumb == */
.wojo.breadcrumb {
  line-height: 1;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-family: 'wSansDemi';
}
.wojo.breadcrumb:first-child {
  margin-top: 0em;
}
.wojo.breadcrumb:last-child {
  margin-bottom: 0em;
}
.wojo.breadcrumb .divider {
  display: inline-block;
  opacity: 0.7;
  margin: 0em 0.75rem 0em;
  font-size: 0.913em;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}
.wojo.breadcrumb a {
  color: rgba(0, 0, 0, 0.4)
}
.wojo.breadcrumb a:hover {
  color: #212F38;
}
.wojo.breadcrumb .icon.divider {
  font-size: 0.875em;
  vertical-align: baseline;
}
.wojo.breadcrumb a.section {
  cursor: pointer;
}
.wojo.breadcrumb .section {
  display: inline-block;
  margin: 0em;
  padding: 0em;
}
.wojo.breadcrumb .active.section {
  color: #212F38;
}
/* == Variations == */
.wojo.mini.breadcrumb {
  font-size: 0.688rem;
}
.wojo.tiny.breadcrumb {
  font-size: 0.750rem;
}
.wojo.small.breadcrumb {
  font-size: 0.875rem;
}
.wojo.breadcrumb {
  font-size: 1rem;
}
.wojo.large.breadcrumb {
  font-size: 1.125rem;
}
.wojo.big.breadcrumb {
  font-size: 1.250rem;
}
.wojo.huge.breadcrumb {
  font-size: 1.5rem;
}
.wojo.massive.breadcrumb {
  font-size: 2rem;
}

@media screen and (max-width:48.063em) {
ul.wojo.basic.tabs {
  -webkit-flex-direction: column;
  flex-direction: column;
}
ul.wojo.basic.tabs li {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
}
/* == Accordion == */
.wojo.accordion,
.wojo.accordion .accordion {
  max-width: 100%;
}
.wojo.accordion .accordion {
  margin: 1em 0em 0em;
  padding: 0em;
}
/* Title */
.wojo.accordion .title,
.wojo.accordion .accordion .title {
  cursor: pointer;
}
.wojo.accordion .title:not(.wojo) {
  padding: 0.5em 0em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wojo.accordion .title p,
.wojo.accordion .title .dropdown.icon {
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  min-width: 0;
}
.wojo.accordion .title ~ .content,
.wojo.accordion .accordion .title ~ .content {
  display: none;
}
.wojo.accordion:not(.styled) .title ~ .content:not(.wojo),
.wojo.accordion:not(.styled) .accordion .title ~ .content:not(.wojo) {
  margin: '';
  padding: 0.5em 0em 1em;
}
.wojo.accordion:not(.styled) .title ~ .content:not(.wojo):last-child {
  padding-bottom: 0em;
}
/* Arrow */
.wojo.accordion .title .dropdown.icon,
.wojo.accordion .accordion .title .dropdown.icon {
  font-family: 'WojoIcons';
  opacity: 1;
  font-size: 1em;
  margin-right: .75em;
  -webkit-transition: opacity 0.1s ease, -webkit-transform 0.1s ease;
  transition: opacity 0.1s ease, -webkit-transform 0.1s ease;
  transition: transform 0.1s ease, opacity 0.1s ease;
  transition: transform 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease;
  -webkit-transform: none;
  transform: none;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}
.wojo.accordion .title .dropdown.icon:before,
.wojo.accordion .accordion .title .dropdown.icon:before {
  content: '\e053';
}
.wojo.accordion.menu .item .title {
  display: block;
  padding: 0em;
}
.wojo.accordion.menu .item .title > .dropdown.icon {
  margin: 0.25em 0em 0em 1em;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wojo.accordion .wojo.header .dropdown.icon {
  font-size: 1em;
  margin: 0em 0.25rem 0em 0rem;
}
/* == States == */
.wojo.accordion .active.title .dropdown.icon:before,
.wojo.accordion .accordion .active.title .dropdown.icon:before {
  content: '\e051';
}
.wojo.accordion.menu .item .active.title > .dropdown.icon:before {
  content: '\e051';
}
/* == Types == */
.wojo.styled.accordion,
.wojo.styled.accordion .accordion {
  border-radius: 0.250rem;
  background: #FFFFFF;
}
.wojo.styled.accordion .title,
.wojo.styled.accordion .accordion .title {
  margin: 0em;
  padding: 0.75em 1em;
  color: #7F929C;
  font-family: 'wSansDemi';
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-transition: background 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease;
}
.wojo.styled.accordion > .title:first-child,
.wojo.styled.accordion .accordion .title:first-child {
  border-top: none;
}
.wojo.styled.accordion .content,
.wojo.styled.accordion .accordion .content {
  margin: 0em;
  padding: 0.5em 1em 1.5em;
}
.wojo.styled.accordion .accordion .content {
  padding: 0em;
  padding: 0.5em 1em 1.5em;
}
.wojo.styled.accordion .title:hover,
.wojo.styled.accordion .active.title,
.wojo.styled.accordion .accordion .title:hover,
.wojo.styled.accordion .accordion .active.title {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
}
.wojo.styled.accordion .accordion .title:hover,
.wojo.styled.accordion .accordion .active.title {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
}
.wojo.styled.accordion .active.title {
  background: transparent;
  color: rgba(0, 0, 0, 0.95);
}
.wojo.styled.accordion .accordion .active.title {
  background: transparent;
  color: rgba(0, 0, 0, 0.95);
}
.wojo.accordion .active.content,
.wojo.accordion .accordion .active.content {
  display: block;
}
/* == Variations == */
.wojo.fluid.accordion,
.wojo.fluid.accordion .accordion {
  width: 100%;
}
.wojo.inverted.accordion .title:not(.wojo) {
  color: rgba(255, 255, 255, 0.9);
}
/* Content Editor */
[is_editable="true"] [contenteditable="true"] {
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}
/* == Sticky == */
.wojo.sticky {
  position: static;
  -webkit-transition: none;
  transition: none;
  z-index: 800;
}
/* Bound */
.wojo.sticky.bound {
  position: absolute;
  left: auto;
  right: auto;
}
/* Fixed */
.wojo.sticky.fixed {
  position: fixed;
  left: auto;
  right: auto;
}
/* Bound/Fixed Position */
.wojo.sticky.bound.top,
.wojo.sticky.fixed.top {
  top: 0px;
  bottom: auto;
}
.wojo.sticky.bound.bottom,
.wojo.sticky.fixed.bottom {
  top: auto;
  bottom: 0px;
}
.wojo.native.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
#rte-toolbar {
  display: none;
  width: 100%;
  height: 60px;
  padding: .875em;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  opacity: 1;
  z-index: 1001;
  box-shadow: none;
  box-sizing: border-box;
}
#rte-toolbar a {
  box-sizing: border-box;
  border-radius: 0px;
  padding: .5em .875em;
  color: #3D4051;
  background-color: rgba(224, 224, 224, 0.95);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#rte-toolbar a:last-child {
  cursor: move!important;
}
#rte-toolbar a:hover {
  background-color: #d3d3d3;
}
#rte-toolbar a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}
#rte-toolbar a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}
#rte-toolbar.rte-side a:first-child {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}
#rte-toolbar.rte-side a:last-child {
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px
}
#editor i.icon {
  cursor: pointer!important;
}
#divRteLink {
  display: none;
  white-space: nowrap;
  height: 33px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  z-index: 1000;
  opacity: 0.9;
  background: #1AA3FF;
  cursor: pointer;
  border-radius: 3px;
  border: #B7DEF3 0px solid;
  color: #fff;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 10px;
  line-height: 35px
}
#divRteLink.forceshow {
  display: block !important
}
#divFrameLink {
  display: none;
  width: 67px;
  white-space: nowrap;
  height: 22px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  z-index: 1000;
  opacity: 0.9;
  background: #1AA3FF;
  cursor: pointer;
  border-radius: 3px;
  border: #B7DEF3 0px solid;
  color: #fff;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 22px
}
.md-pick {
  width: 3em;
  height: 3em;
}