/* == Dropdown == */
.wojo.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: left;
  -webkit-transition: box-shadow 0.1s ease, width 0.1s ease;
  transition: box-shadow 0.1s ease, width 0.1s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'wSansLight';
}
.wojo.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: none;
  top: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0em;
  padding: 0em 0em;
  background: #FFFFFF;
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.188rem;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  z-index: 11;
  will-change: transform, opacity;
}
.wojo.dropdown .menu > * {
  white-space: nowrap;
}
.wojo.dropdown > input:not(.search):first-child,
.wojo.dropdown > select {
  display: none !important;
}
.wojo.dropdown > .dropdown.icon {
  position: relative;
  width: auto;
  font-size: 0.875em;
  margin: 0em 0em 0em 1em;
}
.wojo.dropdown .menu > .item .dropdown.icon {
  width: auto;
  float: right;
  margin: 0em 0em 0em 1em;
}
.wojo.dropdown .menu > .item .dropdown.icon + .text {
  margin-right: 1em;
}
.wojo.dropdown > .text {
  display: inline-block;
  -webkit-transition: none;
  transition: none;
}
.wojo.dropdown .menu > .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.625rem 1.5rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  box-shadow: none;
  -webkit-touch-callout: none;
}
.wojo.dropdown .menu > .item:first-child {
  border-top-width: 0px;
}
.wojo.dropdown > .text > [class*="right floated"],
.wojo.dropdown .menu .item > [class*="right floated"] {
  float: right !important;
  margin-right: 0em !important;
  margin-left: 1em !important;
}
.wojo.dropdown > .text > [class*="left floated"],
.wojo.dropdown .menu .item > [class*="left floated"] {
  float: left !important;
  margin-left: 0em !important;
  margin-right: 1em !important;
}
.wojo.dropdown .menu .item > .icon.floated,
.wojo.dropdown .menu .item > .flag.floated,
.wojo.dropdown .menu .item > .image.floated,
.wojo.dropdown .menu .item > img.floated {
  margin-top: 0em;
}
.wojo.dropdown .menu > .header {
  margin: 1rem 0rem 0.75rem;
  padding: 0em 1.25em;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.875em;
  font-family: 'wSansBold';
  text-transform: uppercase;
}
.wojo.dropdown .menu > .divider {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  height: 0em;
  margin: 0.5em 0em;
}
.wojo.dropdown .menu > .input {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1.125rem 0.750rem;
  min-width: 10rem;
}
.wojo.dropdown .menu > .header + .input {
  margin-top: 0em;
}
.wojo.dropdown .menu > .input:not(.transparent) input {
  padding: 0.5em 1em;
}
.wojo.dropdown .menu > .input:not(.transparent) .button,
.wojo.dropdown .menu > .input:not(.transparent) .icon,
.wojo.dropdown .menu > .input:not(.transparent) .label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.wojo.dropdown > .text > .description,
.wojo.dropdown .menu > .item > .description {
  float: right;
  margin: 0em 0em 0em 1em;
  color: rgba(0, 0, 0, 0.4);
}
.wojo.dropdown .menu > .message {
  padding: 0.750rem 1.125rem;
  font-weight: normal;
}
.wojo.dropdown .menu > .message:not(.wojo) {
  color: rgba(0, 0, 0, 0.4);
}
.wojo.dropdown .menu .menu {
  top: 0% !important;
  left: 100% !important;
  right: auto !important;
  margin: 0em 0em 0em -0.5em !important;
  border-radius: 0.188rem !important;
  z-index: 21 !important;
}
/* Hide Arrow */
.wojo.dropdown .menu .menu:after {
  display: none;
}
/* == Sub Elements == */
.wojo.dropdown > .text > .icon,
.wojo.dropdown > .text > .label,
.wojo.dropdown > .text > .flag,
.wojo.dropdown > .text > img,
.wojo.dropdown > .text > .image {
  margin-top: 0em;
}
.wojo.dropdown .menu > .item > .icon,
.wojo.dropdown .menu > .item > .label,
.wojo.dropdown .menu > .item > .flag,
.wojo.dropdown .menu > .item > .image,
.wojo.dropdown .menu > .item > img {
  margin-top: 0em;
}
.wojo.dropdown > .text > .icon,
.wojo.dropdown > .text > .label,
.wojo.dropdown > .text > .flag,
.wojo.dropdown > .text > img,
.wojo.dropdown > .text > .image,
.wojo.dropdown .menu > .item > .icon,
.wojo.dropdown .menu > .item > .label,
.wojo.dropdown .menu > .item > .flag,
.wojo.dropdown .menu > .item > .image,
.wojo.dropdown .menu > .item > img {
  margin-left: 0em;
  float: none;
  margin-right: 0.750rem;
}
.wojo.dropdown > .text > img,
.wojo.dropdown > .text > .image,
.wojo.dropdown .menu > .item > .image,
.wojo.dropdown .menu > .item > img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-height: 2em;
}
/* Dropdown Menu */
.wojo.label.dropdown .menu {
  min-width: 100%;
}
.wojo.dropdown.icon.button > .dropdown.icon {
  margin: 0em;
}
.wojo.button.dropdown .menu {
  min-width: 100%;
}
/* ==  Types == */
.wojo.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1.25em;
  white-space: normal;
  outline: 0;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  min-width: 14em;
  background: #FFFFFF;
  display: inline-block;
  padding: 0.625em 2.1em 0.625em 1em;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.188rem;
  -webkit-transition: box-shadow 0.1s ease, width 0.1s ease;
  transition: box-shadow 0.1s ease, width 0.1s ease;
}
.wojo.selection.dropdown.visible,
.wojo.selection.dropdown.active {
  z-index: 10;
}
select.wojo.dropdown {
  height: 38px;
  padding: 0.5em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  visibility: visible;
}
.wojo.selection.dropdown > .search.icon,
.wojo.selection.dropdown > .delete.icon,
.wojo.selection.dropdown > .dropdown.icon {
  cursor: pointer;
  position: absolute;
  width: auto;
  height: auto;
  line-height: 1.2142em;
  right: 1em;
  z-index: 3;
  top:50%;
  transform:translateY(-50%);
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
/* Compact */
.wojo.compact.selection.dropdown {
  min-width: 0px;
}
/*  Selection Menu */
.wojo.selection.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  border-top-width: 0px !important;
  outline: none;
  margin: 0px -1px;
  min-width: calc(100% + 2px );
  width: calc(100% + 2px );
  border-radius: 0em 0em 0.188rem 0.188rem;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.wojo.selection.dropdown .menu:after,
.wojo.selection.dropdown .menu:before {
  display: none;
}
.wojo.selection.dropdown .menu > .message {
  padding: 0.750rem 1.125rem;
}

@media only screen and (max-width: 767px) {
.wojo.selection.dropdown .menu {
  max-height: 8.01428571rem;
}
}

@media only screen and (min-width: 768px) {
.wojo.selection.dropdown .menu {
  max-height: 10.68571429rem;
}
}

@media only screen and (min-width: 992px) {
.wojo.selection.dropdown .menu {
  max-height: 16.02857143rem;
}
}

@media only screen and (min-width: 1920px) {
.wojo.selection.dropdown .menu {
  max-height: 21.37142857rem;
}
}
/* Menu Item */
.wojo.selection.dropdown .menu > .item {
  border-top: 1px solid #FAFAFA;
  padding: 0.750rem 1.125rem !important;
  white-space: normal;
  word-wrap: normal;
}
/* User Item */
.wojo.selection.dropdown .menu > .hidden.addition.item {
  display: none;
}
/* Hover */
.wojo.selection.dropdown:hover {
  border-color: rgba(34, 36, 38, 0.35);
  box-shadow: none;
}
/* Active */
.wojo.selection.active.dropdown {
  border-color: #96C8DA;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}
.wojo.selection.active.dropdown .menu {
  border-color: #96C8DA;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}
/* Focus */
.wojo.selection.dropdown:focus {
  border-color: #96C8DA;
  box-shadow: none;
}
.wojo.selection.dropdown:focus .menu {
  border-color: #96C8DA;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}
/* Visible */
.wojo.selection.visible.dropdown > .text:not(.default) {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
}
/* Visible Hover */
.wojo.selection.active.dropdown:hover {
  border-color: #96C8DA;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}
.wojo.selection.active.dropdown:hover .menu {
  border-color: #96C8DA;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}
/* Dropdown Icon */
.wojo.active.selection.dropdown > .dropdown.icon,
.wojo.visible.selection.dropdown > .dropdown.icon {
  opacity: 1;
  z-index: 3;
}
/* Connecting Border */
.wojo.active.selection.dropdown {
  border-bottom-left-radius: 0em !important;
  border-bottom-right-radius: 0em !important;
}
/* Empty Connecting Border */
.wojo.active.empty.selection.dropdown {
  border-radius: 0.188rem !important;
  box-shadow: none !important;
}
.wojo.active.empty.selection.dropdown .menu {
  border: none !important;
  box-shadow: none !important;
}
/* Search Selection */
.wojo.search.dropdown {
  min-width: '';
}
/* Search Dropdown */
.wojo.search.dropdown > input.search {
  background: none transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: text;
  top: 0em;
  left: 1px;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding: inherit;
}
/* Text Layering */
.wojo.search.dropdown > input.search {
  position: absolute;
  z-index: 2;
}
.wojo.search.dropdown > .text {
  cursor: text;
  position: relative;
  left: 1px;
  z-index: 3;
}
/* Search Selection */
.wojo.search.selection.dropdown > input.search {
  line-height: 1.2142em;
  padding: 0.67861429em 2.1em 0.67861429em 1em;
}
/* Used to size multi select input to character width */
.wojo.search.selection.dropdown > span.sizer {
  line-height: 1.2142em;
  padding: 0.67861429em 2.1em 0.67861429em 1em;
  display: none;
  white-space: pre;
}
/* Active/Visible Search */
.wojo.search.dropdown.active > input.search,
.wojo.search.dropdown.visible > input.search {
  cursor: auto;
}
.wojo.search.dropdown.active > .text,
.wojo.search.dropdown.visible > .text {
  pointer-events: none;
}
/* Filtered Text */
.wojo.active.search.dropdown input.search:focus + .text .icon,
.wojo.active.search.dropdown input.search:focus + .text .flag {
  opacity: 0.45;
}
.wojo.active.search.dropdown input.search:focus + .text {
  color: rgba(115, 115, 115, 0.87) !important;
}
/* Search Menu */
.wojo.search.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 767px) {
.wojo.search.dropdown .menu {
  max-height: 8.01428571rem;
}
}

@media only screen and (min-width: 768px) {
.wojo.search.dropdown .menu {
  max-height: 10.68571429rem;
}
}

@media only screen and (min-width: 992px) {
.wojo.search.dropdown .menu {
  max-height: 16.02857143rem;
}
}

@media only screen and (min-width: 1920px) {
.wojo.search.dropdown .menu {
  max-height: 21.37142857rem;
}
}
/* Multiple Selection */
.wojo.multiple.dropdown {
  padding: 0.22620476em 2.1em 0.22620476em 0.35714286em;
}
.wojo.multiple.dropdown .menu {
  cursor: auto;
}
/* Multiple Search Selection */
.wojo.multiple.search.dropdown,
.wojo.multiple.search.dropdown > input.search {
  cursor: text;
}
/* Selection Label */
.wojo.multiple.dropdown > .label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: 1em;
  padding: 0.35714286em 0.750em;
  margin: 0.125rem 0.188rem 0.125rem 0em;
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}
/* Dropdown Icon */
.wojo.multiple.dropdown .dropdown.icon {
  margin: '';
  padding: '';
}
/* Text */
.wojo.multiple.dropdown > .text {
  position: static;
  padding: 0;
  max-width: 100%;
  margin: 0.45240952em 0em 0.45240952em 0.625em;
  line-height: 1.21428571em;
}
.wojo.multiple.dropdown > .label ~ input.search {
  margin-left: 0.125em !important;
}
.wojo.multiple.dropdown > .label ~ .text {
  display: none;
}
/* Prompt Text */
.wojo.multiple.search.dropdown > .text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  margin: 0.45240952em 0em 0.45240952em 0.625em;
  line-height: 1.21428571em;
}
.wojo.multiple.search.dropdown > .label ~ .text {
  display: none;
}
/* Search */
.wojo.multiple.search.dropdown > input.search {
  position: static;
  padding: 0;
  max-width: 100%;
  margin: 0.45240952em 0em 0.45240952em 0.625em;
  width: 2.2em;
  line-height: 1.21428571em;
}
.wojo.inline.dropdown {
  cursor: pointer;
  display: inline-block;
  color: inherit;
}
.wojo.inline.dropdown .dropdown.icon {
  margin: 0em 0.5em 0em 0.21428571em;
  vertical-align: baseline;
}
.wojo.inline.dropdown > .text {
  font-weight: bold;
}
.wojo.inline.dropdown .menu {
  cursor: auto;
  margin-top: 0.21428571em;
  border-radius: 0.188rem;
}
/* ==  States == */
.wojo.dropdown .menu .active.item {
  background: transparent;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  box-shadow: none;
  z-index: 12;
}
/* Menu Item Hover */
.wojo.dropdown .menu > .item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  z-index: 13;
}
.wojo.loading.dropdown > i.icon {
  height: 1em !important;
  padding: 1.125em 1.07142857em !important;
}
.wojo.loading.dropdown > i.icon:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -0.625em 0em 0em -0.625em;
  width: 1.188em;
  height: 1.188em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}
.wojo.loading.dropdown > i.icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 0px 1px transparent;
  margin: -0.625em 0em 0em -0.625em;
  width: 1.188em;
  height: 1.188em;
  -webkit-animation: dropdown-spin 0.6s linear;
  animation: dropdown-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: 0.2em;
}
/* Coupling */
.wojo.loading.dropdown.button > i.icon:before,
.wojo.loading.dropdown.button > i.icon:after {
  display: none;
}
@-webkit-keyframes dropdown-spin {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@keyframes dropdown-spin {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
.wojo.dropdown:not(.button) > .default.text,
.wojo.default.dropdown:not(.button) > .text {
  color: rgba(191, 191, 191, 0.87);
}
.wojo.dropdown:not(.button) > input:focus + .default.text,
.wojo.default.dropdown:not(.button) > input:focus + .text {
  color: rgba(115, 115, 115, 0.87);
}
.wojo.loading.dropdown > .text {
  -webkit-transition: none;
  transition: none;
}
/* Used To Check Position */
.wojo.dropdown .loading.menu {
  display: block;
  visibility: hidden;
  z-index: -1;
}
/* Selected Item */
.wojo.dropdown.selected,
.wojo.dropdown .menu .selected.item {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}
/* Filtered Item */
.wojo.dropdown > .filtered.text {
  visibility: hidden;
}
.wojo.dropdown .filtered.item {
  display: none !important;
}
/* Disabled */
.wojo.disabled.dropdown,
.wojo.dropdown .menu > .disabled.item {
  cursor: default;
  pointer-events: none;
  opacity: 0.45;
}
/* ==  Variations == */
.wojo.dropdown .menu {
  left: 0px;
}
/* Default Side (Right) */
.wojo.dropdown .right.menu > .menu,
.wojo.dropdown .menu .right.menu {
  left: 100% !important;
  right: auto !important;
  border-radius: 0.188rem !important;
}
/* Left Flyout Menu */
.wojo.dropdown > .left.menu .menu,
.wojo.dropdown .menu .left.menu {
  left: auto !important;
  right: 100% !important;
  border-radius: 0.188rem !important;
}
.wojo.dropdown .item .left.dropdown.icon,
.wojo.dropdown .left.menu .item .dropdown.icon {
  width: auto;
  float: left;
  margin: 0em 0.750rem 0em 0em;
}
.wojo.dropdown .item .left.dropdown.icon,
.wojo.dropdown .left.menu .item .dropdown.icon {
  width: auto;
  float: left;
  margin: 0em 0.750rem 0em 0em;
}
.wojo.dropdown .item .left.dropdown.icon + .text,
.wojo.dropdown .left.menu .item .dropdown.icon + .text {
  margin-left: 1em;
}
/* Upward Main Menu */
.wojo.upward.dropdown > .menu {
  top: auto;
  bottom: 100%;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.188rem 0.188rem 0em 0em;
}
/* Upward Sub Menu */
.wojo.dropdown .upward.menu {
  top: auto !important;
  bottom: 0 !important;
}
/* Active Upward */
.wojo.simple.upward.active.dropdown,
.wojo.simple.upward.dropdown:hover {
  border-radius: 0.188rem 0.188rem 0em 0em !important;
}
.wojo.upward.dropdown.button:not(.pointing):not(.floating).active {
  border-radius: 0.188rem 0.188rem 0em 0em;
}
/* Selection */
.wojo.upward.selection.dropdown .menu {
  border-top-width: 1px !important;
  border-bottom-width: 0px !important;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.08);
}
.wojo.upward.selection.dropdown:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}
/* Active Upward */
.wojo.active.upward.selection.dropdown {
  border-radius: 0em 0em 0.188rem 0.188rem !important;
}
/* Visible Upward */
.wojo.upward.selection.dropdown.visible {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0em 0em 0.188rem 0.188rem !important;
}
/* Visible Hover Upward */
.wojo.upward.active.selection.dropdown:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.05);
}
.wojo.upward.active.selection.dropdown:hover .menu {
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.08);
}
/*  Selection Menu */
.wojo.scrolling.dropdown .menu,
.wojo.dropdown .scrolling.menu {
  overflow-x: hidden;
  overflow-y: auto;
}
.wojo.scrolling.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 100% !important;
  width: auto !important;
}
.wojo.dropdown .scrolling.menu {
  position: static;
  overflow-y: auto;
  border: none;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
  width: auto !important;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
.wojo.scrolling.dropdown .menu .item.item.item,
.wojo.dropdown .scrolling.menu > .item.item.item {
  border-top: none;
  padding-right: calc( 1.125rem + 17px ) !important;
}
.wojo.scrolling.dropdown .menu .item:first-child,
.wojo.dropdown .scrolling.menu .item:first-child {
  border-top: none;
}
.wojo.dropdown > .animating.menu .scrolling.menu,
.wojo.dropdown > .visible.menu .scrolling.menu {
  display: block;
}

/* Scrollbar in IE */
@media all and (-ms-high-contrast: none) {
.wojo.scrolling.dropdown .menu,
 .wojo.dropdown .scrolling.menu {
  min-width: calc(100% - 17px );
}
}

@media only screen and (max-width: 767px) {
.wojo.scrolling.dropdown .menu,
 .wojo.dropdown .scrolling.menu {
  max-height: 10.188rem;
}
}

@media only screen and (min-width: 768px) {
.wojo.scrolling.dropdown .menu,
 .wojo.dropdown .scrolling.menu {
  max-height: 15.42857143rem;
}
}

@media only screen and (min-width: 992px) {
.wojo.scrolling.dropdown .menu,
 .wojo.dropdown .scrolling.menu {
  max-height: 20.57142857rem;
}
}

@media only screen and (min-width: 1920px) {
.wojo.scrolling.dropdown .menu,
 .wojo.dropdown .scrolling.menu {
  max-height: 20.57142857rem;
}
}
/* Displays without javascript */
.wojo.simple.dropdown .menu:before,
.wojo.simple.dropdown .menu:after {
  display: none;
}
.wojo.simple.dropdown .menu {
  position: absolute;
  display: block;
  overflow: hidden;
  top: -9999px !important;
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.wojo.simple.active.dropdown,
.wojo.simple.dropdown:hover {
  border-bottom-left-radius: 0em !important;
  border-bottom-right-radius: 0em !important;
}
.wojo.simple.active.dropdown > .menu,
.wojo.simple.dropdown:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: 100% !important;
  opacity: 1;
}
.wojo.simple.dropdown > .menu > .item:active > .menu,
.wojo.simple.dropdown:hover > .menu > .item:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: 0% !important;
  left: 100% !important;
  opacity: 1;
}
.wojo.simple.disabled.dropdown:hover .menu {
  display: none;
  height: 0px;
  width: 0px;
  overflow: hidden;
}
/* Visible */
.wojo.simple.visible.dropdown > .menu {
  display: block;
}
.wojo.fluid.dropdown {
  display: block;
  width: 100%;
  min-width: 0em;
}
.wojo.fluid.dropdown > .dropdown.icon {
  float: right;
}
.wojo.floating.dropdown .menu {
  left: 0;
  right: auto;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15) !important;
  border-radius: 0.188rem !important;
}
.wojo.floating.dropdown > .menu {
  margin-top: 0.5em !important;
  border-radius: 0.188rem !important;
}
.wojo.pointing.dropdown > .menu {
  top: 100%;
  margin-top: 0.750rem;
  border-radius: 0.188rem;
}
.wojo.pointing.dropdown > .menu:after {
  display: block;
  position: absolute;
  pointer-events: none;
  content: '';
  visibility: visible;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  box-shadow: -1px -1px 0px 1px rgba(34, 36, 38, 0.15);
  background: #FFFFFF;
  z-index: 2;
}
.wojo.pointing.dropdown > .menu:after {
  top: -0.25em;
  left: 50%;
  margin: 0em 0em 0em -0.25em;
}
/* Top Left Pointing */
.wojo.top.left.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  left: 0%;
  right: auto;
  margin: 1em 0em 0em;
}
.wojo.top.left.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  left: 0%;
  right: auto;
  margin: 1em 0em 0em;
}
.wojo.top.left.pointing.dropdown > .menu:after {
  top: -0.25em;
  left: 1em;
  right: auto;
  margin: 0em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Top Right  Pointing */
.wojo.top.right.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  right: 0%;
  left: auto;
  margin: 1em 0em 0em;
}
.wojo.top.right.pointing.dropdown > .menu:after {
  top: -0.25em;
  left: auto;
  right: 1em;
  margin: 0em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Left Pointing */
.wojo.left.pointing.dropdown > .menu {
  top: 0%;
  left: 100%;
  right: auto;
  margin: 0em 0em 0em 1em;
}
.wojo.left.pointing.dropdown > .menu:after {
  top: 1em;
  left: -0.25em;
  margin: 0em 0em 0em 0em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Right Pointing */
.wojo.right.pointing.dropdown > .menu {
  top: 0%;
  left: auto;
  right: 100%;
  margin: 0em 1em 0em 0em;
}
.wojo.right.pointing.dropdown > .menu:after {
  top: 1em;
  left: auto;
  right: -0.25em;
  margin: 0em 0em 0em 0em;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Bottom Pointing */
.wojo.bottom.pointing.dropdown > .menu {
  top: auto;
  bottom: 100%;
  left: 0%;
  right: auto;
  margin: 0em 0em 1em;
}
.wojo.bottom.pointing.dropdown > .menu:after {
  top: auto;
  bottom: -0.25em;
  right: auto;
  margin: 0em;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* Reverse Sub-Menu Direction */
.wojo.bottom.pointing.dropdown > .menu .menu {
  top: auto !important;
  bottom: 0px !important;
}
/* Bottom Left */
.wojo.bottom.left.pointing.dropdown > .menu {
  left: 0%;
  right: auto;
}
.wojo.bottom.left.pointing.dropdown > .menu:after {
  left: 1em;
  right: auto;
}
/* Bottom Right */
.wojo.bottom.right.pointing.dropdown > .menu {
  right: 0%;
  left: auto;
}
.wojo.bottom.right.pointing.dropdown > .menu:after {
  left: auto;
  right: 1em;
}
/* Upward pointing */
.wojo.upward.pointing.dropdown > .menu,
.wojo.upward.top.pointing.dropdown > .menu {
  top: auto;
  bottom: 100%;
  margin: 0em 0em 0.750rem;
  border-radius: 0.188rem;
}
.wojo.upward.pointing.dropdown > .menu:after,
.wojo.upward.top.pointing.dropdown > .menu:after {
  top: 100%;
  bottom: auto;
  box-shadow: 1px 1px 0px 1px rgba(34, 36, 38, 0.15);
  margin: -0.25em 0em 0em;
}
.wojo.dropdown > .dropdown.icon {
  font-family: 'WojoIcons';
  line-height: auto;
  width: 1.23em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.wojo.dropdown > .dropdown.icon {
  width: auto;
}
.wojo.dropdown > .dropdown.icon:before {
  content: "\e051";
}
.wojo.dropdown .menu .item .dropdown.icon:before {
  content: '\e053';
}
.wojo.dropdown .item .left.dropdown.icon:before,
.wojo.dropdown .left.menu .item .dropdown.icon:before {
  content: "\e052";
}
.wojo.vertical.menu .dropdown.item > .dropdown.icon:before {
  content: "\e053";
}
/* == Transparent == */
.wojo.transparent.dropdown,
.wojo.transparent.selection.dropdown {
  border:none;
  padding:0;
}
/* == Size == */
.wojo.mini.dropdown,
.wojo.mini.dropdown .menu >.item {
  font-size: 0.750rem;
}
.wojo.tiny.dropdown,
.wojo.tiny.dropdown .menu >.item {
  font-size: 0.857rem;
}
.wojo.small.dropdown,
.wojo.small.dropdown .menu >.item {
  font-size: 0.913rem;
}
.wojo.large.dropdown,
.wojo.large.dropdown .menu >.item {
  font-size: 1.125rem;
}
.wojo.big.dropdown,
.wojo.big.dropdown .menu >.item {
  font-size: 1.188rem;
}
.wojo.huge.dropdown,
.wojo.huge.dropdown .menu >.item {
  font-size: 1.5rem;
}