/* == Segment == */
.wojo.segment {
  position: relative;
  background: #FFFFFF;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  margin: 1rem 0em;
  padding: 1em 1em;
  border-radius: 0.250rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.wojo.segment:first-child {
  margin-top: 0em;
}
.wojo.segment:last-child {
  margin-bottom: 0em;
}
/* Vertical */
.wojo.vertical.segment {
  margin: 0em;
  padding-left: 0em;
  padding-right: 0em;
  background: none transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.wojo.vertical.segment:last-child {
  border-bottom: none;
}
/* Header */
.wojo.inverted.segment > .wojo.header {
  color: #FFFFFF;
}
/* Label */
.wojo[class*="bottom attached"].segment > [class*="top attached"].label {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.wojo[class*="top attached"].segment > [class*="bottom attached"].label {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
.wojo.attached.segment:not(.top):not(.bottom) > [class*="top attached"].label {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.wojo.attached.segment:not(.top):not(.bottom) > [class*="bottom attached"].label {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
/* Table */
.wojo.basic.table.segment {
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.wojo[class*="very basic"].table.segment {
  padding: 1em 1em;
}
/* == Types == */
.wojo.fitted.segment {
  padding: 0;
}
.wojo.padded.segment {
  padding: 1.5em;
}
.wojo[class*="very padded"].segment {
  padding: 3em;
}
.wojo.compact.segment {
  display: table;
}
.wojo.compact.segment.auto {
  margin:0 auto
}
/* Compact Group */
.wojo.compact.segments {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.wojo.compact.segments .segment,
.wojo.segments .compact.segment {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.wojo.circular.segment {
  display: table-cell;
  padding: 2em;
  text-align: center;
  vertical-align: middle;
  border-radius: 500em;
}
.wojo.loading.segment {
  position: relative;
  cursor: default;
  pointer-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}
.wojo.loading.segment:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 0.250rem;
  z-index: 100;
}
.wojo.loading.segment:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: segment-spin 0.6s linear;
  animation: segment-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}
@-webkit-keyframes segment-spin {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@keyframes segment-spin {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
/* == Variations == */
.wojo.basic.segment,
.wojo.plugin.segment {
  background: none transparent;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  margin:0;
}
.wojo.plugin.segment {
  margin: 0 0 2rem;
}
.wojo.clearing.segment:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Red */
.wojo.red.segment:not(.inverted) {
  border-top: 2px solid #DB2828;
}
.wojo.inverted.red.segment {
  background-color: #DB2828 !important;
  color: #FFFFFF !important;
}
/* Orange */
.wojo.orange.segment:not(.inverted) {
  border-top: 2px solid #F2711C;
}
.wojo.inverted.orange.segment {
  background-color: #F2711C !important;
  color: #FFFFFF !important;
}
/* Yellow */
.wojo.yellow.segment:not(.inverted) {
  border-top: 2px solid #FBBD08;
}
.wojo.inverted.yellow.segment {
  background-color: #FBBD08 !important;
  color: #FFFFFF !important;
}
/* Olive */
.wojo.olive.segment:not(.inverted) {
  border-top: 2px solid #B5CC18;
}
.wojo.inverted.olive.segment {
  background-color: #B5CC18 !important;
  color: #FFFFFF !important;
}
/* Green */
.wojo.green.segment:not(.inverted) {
  border-top: 2px solid #21BA45;
}
.wojo.inverted.green.segment {
  background-color: #21BA45 !important;
  color: #FFFFFF !important;
}
/* Teal */
.wojo.teal.segment:not(.inverted) {
  border-top: 2px solid #00B5AD;
}
.wojo.inverted.teal.segment {
  background-color: #00B5AD !important;
  color: #FFFFFF !important;
}
/* Blue */
.wojo.blue.segment:not(.inverted) {
  border-top: 2px solid #2185D0;
}
.wojo.inverted.blue.segment {
  background-color: #2185D0 !important;
  color: #FFFFFF !important;
}
/* Violet */
.wojo.violet.segment:not(.inverted) {
  border-top: 2px solid #6435C9;
}
.wojo.inverted.violet.segment {
  background-color: #6435C9 !important;
  color: #FFFFFF !important;
}
/* Purple */
.wojo.purple.segment:not(.inverted) {
  border-top: 2px solid #A333C8;
}
.wojo.inverted.purple.segment {
  background-color: #A333C8 !important;
  color: #FFFFFF !important;
}
/* Pink */
.wojo.pink.segment:not(.inverted) {
  border-top: 2px solid #E03997;
}
.wojo.inverted.pink.segment {
  background-color: #E03997 !important;
  color: #FFFFFF !important;
}
/* Brown */
.wojo.brown.segment:not(.inverted) {
  border-top: 2px solid #A5673F;
}
.wojo.inverted.brown.segment {
  background-color: #A5673F !important;
  color: #FFFFFF !important;
}
/* Grey */
.wojo.grey.segment:not(.inverted) {
  border-top: 2px solid #767676;
}
.wojo.inverted.grey.segment {
  background-color: #767676 !important;
  color: #FFFFFF !important;
}
/* Black */
.wojo.black.segment:not(.inverted) {
  border-top: 2px solid #1B1C1D;
}
.wojo.inverted.black.segment {
  background-color: #1B1C1D !important;
  color: #FFFFFF !important;
}
.wojo[class*="left aligned"].segment {
  text-align: left;
}
.wojo[class*="right aligned"].segment {
  text-align: right;
}
.wojo[class*="center aligned"].segment {
  text-align: center;
}
.wojo.floated.segment,
.wojo[class*="left floated"].segment {
  float: left;
  margin-right: 1em;
}
.wojo[class*="right floated"].segment {
  float: right;
  margin-left: 1em;
}
.wojo.inverted.segment {
  border: none;
  box-shadow: none;
}
.wojo.inverted.segment,
.wojo.primary.inverted.segment {
  background: #1B1C1D;
  color: rgba(255, 255, 255, 0.9);
}
/* Nested */
.wojo.inverted.segment .segment {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.inverted.segment .inverted.segment {
  color: rgba(255, 255, 255, 0.9);
}
/* Attached */
.wojo.inverted.attached.segment {
  border-color: #555555;
}
/* Primary */
.wojo.primary.segment {
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
}
/* Secondary */
.wojo.secondary.segment {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.6);
}
.wojo.secondary.inverted.segment {
  background: #4c4f52 -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: #4c4f52 linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  color: rgba(255, 255, 255, 0.8);
}
/* Tertiary */
.wojo.tertiary.segment {
  background: #DCDDDE;
  color: rgba(0, 0, 0, 0.6);
}
.wojo.tertiary.inverted.segment {
  background: #717579 -webkit-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
  background: #717579 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
  color: rgba(255, 255, 255, 0.8);
}
/* Middle */
.wojo.attached.segment {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em;
  box-shadow: none;
  border: 1px solid #D4D4D5;
}
.wojo.attached:not(.message) + .wojo.attached.segment:not(.top) {
  border-top: none;
}
/* Top */
.wojo[class*="top attached"].segment {
  bottom: 0px;
  margin-bottom: 0em;
  top: 0px;
  margin-top: 1rem;
  border-radius: 0.250rem 0.250rem 0em 0em;
}
.wojo.segment[class*="top attached"]:first-child {
  margin-top: 0em;
}
/* Bottom */
.wojo.segment[class*="bottom attached"] {
  bottom: 0px;
  margin-top: 0em;
  top: 0px;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
  border-radius: 0em 0em 0.250rem 0.250rem;
}
.wojo.segment[class*="bottom attached"]:last-child {
  margin-bottom: 0em;
}
.wojo.relaxed.segment {
  padding: 2em;
}
.wojo.very.relaxed.segment {
  padding: 3em;
}
/* == Size == */
.wojo.mini.segments .segment,
.wojo.mini.segment {
  font-size: 0.78571429rem;
}
.wojo.tiny.segments .segment,
.wojo.tiny.segment {
  font-size: 0.85714286rem;
}
.wojo.small.segments .segment,
.wojo.small.segment {
  font-size: 0.92503rem;
}
.wojo.segments .segment,
.wojo.segment {
  font-size: 1rem;
}
.wojo.large.segments .segment,
.wojo.large.segment {
  font-size: 1.14250rem;
}
.wojo.big.segments .segment,
.wojo.big.segment {
  font-size: 1.250rem;
}
.wojo.huge.segments .segment,
.wojo.huge.segment {
  font-size: 1.42503rem;
}
.wojo.massive.segments .segment,
.wojo.massive.segment {
  font-size: 1.71428571rem;
}