/* == Font Size == */
.wojo.tiny.text {
  font-size: 0.688rem;
}
.wojo.mini.text {
  font-size: 0.750rem;
}
.wojo.small.text {
  font-size: 0.875rem;
}
.wojo.normal.text {
  font-size: 1rem;
  font-family: 'wSansRegular';
  text-transform: none;
}
.wojo.medium.text {
  font-size: 1.25rem;
}
.wojo.large.text {
  font-size: 1.5rem;
}
.wojo.big.text {
  font-size: 2rem;
}
.wojo.huge.text {
  font-size: 4rem;
}
.wojo.massive.text {
  font-size: 6rem;
}
.wojo.gigant.text {
  font-size: 8rem;
}
.wojo.caps {
  text-transform: uppercase;
}
.wojo.dimmed.text {
  opacity: .5;
}
.wojo.very.dimmed.text {
  opacity: .85;
}
.wojo.thin.text {
  font-family: 'wSansLight';
}
.wojo.light.text {
  font-family: 'wSansLight';
}
.wojo.bold.text {
  font-family: 'wSansDemi';
}
.wojo.thick.text {
  font-family: 'wSansBold';
}
.wojo.italic.text {
  font-style: italic;
}
.wojo.primary.text {
  color: #C0392B;
}
.wojo.secondary.text {
  color: #2CBEBF;
}
.wojo.positive.text {
  color: #3FC59D;
}
.wojo.negative.text {
  color: #E2747E;
}
.wojo.white.text {
  color: #fff;
}
.wojo.black.text {
  color: #7F929C;
}
.wojo.primary.bg {
  background-color: #F5F5F5;
}
.wojo.secondary.bg {
  background-color: #F6F7F8;
}
.wojo.tertiary.bg {
  background-color: #e1f5fe;
}
.wojo.opacity-9 {
  opacity: .9
}
.wojo.opacity-7 {
  opacity: .7
}
.wojo.opacity-5 {
  opacity: .5
}
.wojo.quaternary.bg {
  background-color: #F5F5F5;
}
.highlite {
  background-color: #fffde7!important;
}
.wojo.boxed {
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: .250em;
}
.wojo.readonly {
  position: relative;
  cursor: not-allowed;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}
.wojo.readonly:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  border-radius: 0.250em;
  z-index: 10;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*don’t forget that .block-with-text can’t be an inline element*/
}
/* == Scroller == */
.scrollbox_y,
.scrollbox_x {
  overflow: auto;
}
.scrolltrack {
  width: 6px;
  background: rgba(0, 0, 0, 0);
  margin-right: 8px;
  border-radius: 3px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrolltrack:hover,
.scrolltrack.dragging {
  background: #F5F5F5;
}
.scrollhandle {
  width: 4px;
  right: 0;
  background-color: #2B3D4C;
  border-radius: 3px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.scrolltrack:hover .scrollhandle,
.scrolltrack.dragging .scrollhandle {
  width: 6px;
}
.scrolltrackx {
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrollhandlex {
  height: 6px;
  width: 100%;
  background-color: #2B3D4C;
  border-radius: 3px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
/* == Tabs == */	
ul.wojo.tabs {
  margin: 0;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
ul.wojo.fluid.tabs {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
ul.wojo.tabs,
ul.wojo.tabs li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
}
ul.wojo.tabs li {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
ul.wojo.fluid.tabs li {
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
ul.wojo.fluid.tabs li:first-child {
  border-left: none
}
ul.wojo.tabs li a {
  display: block;
  font-family: 'wSansDemi';
  padding: 1em 1.5em;
}
ul.wojo.fluid.tabs li.active {
  background-color: #C0392B;
  border-left: 2px solid #C0392B;
}
ul.wojo.fluid.tabs li.active a,
ul.wojo.fluid.tabs li.active a:hover {
  color: #fff
}
ul.wojo.fluid.tabs li a:hover {
  background-color: #C0392B;
  color: #fff
}
ul.wojo.tabs li a:hover {
  color: #424242;
}
ul.wojo.tabs li a .icon {
  margin-right: 1em;
}
ul.wojo.tabs li a.single .icon {
  margin-right:0;
}
.wojo.tab {
  display: none;
}
.wojo.tab.active,
.wojo.tab.open {
  display: block;
}


/* == Uploader == */
.wojo.uploader {
  border: 2px dotted #A5A5C7;
  width: 100%;
  color: #92AAB0;
  text-align: center;
  vertical-align: middle;
  padding: 40px 0px;
  margin-bottom: 10px;
  font-size: 1.5em;
  cursor: default;
  user-select: none;
}
.wojo.basic.uploader {
  border: 0;
  width: 100%;
  color: #92AAB0;
  padding: 0;
  margin-bottom: 0;
  font-size: 1em;
  text-align: left;
}
.wojo.uploader-active {
  border-color: #0B85A1;
}
.wojo.uploader div.or {
  font-size: 14px;
  font-weight: bold;
  color: #C0C0C0;
  padding: 10px;
}
.wojo.uploader div.content label {
  background-color: #5a7bc2;
  color: white;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 300px;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px 2px #888888;
}
.wojo.basic.uploader div.content label {
  background-color: transparent;
  color: #5e5e5e;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  margin: 0;
  box-shadow: none;
}
.wojo.uploader div.content span {
  cursor: pointer;
}
.wojo.uploader div.content input,
.wojo.button.uploader input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 0;
  opacity: .0;
  direction: ltr;
  cursor: pointer;
}
.wojo.uploader div.content label:hover {
  background-color: #427fed;
}
.wojo.basic.uploader div.content label:hover {
  background-color: transparent;
}
.wojo.button.uploader {
  width: auto;
  border: 0;
  margin: 0;
  padding: 0.75em 1.5em;
}
/* == Breadcrumb == */
.wojo.breadcrumb {
  line-height: 1;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-family: 'wSansDemi';
  position: relative;
  font-size: 1.5em;
}
.wojo.breadcrumb:first-child {
  margin-top: 0em;
}
.wojo.breadcrumb:last-child {
  margin-bottom: 0em;
}
.wojo.breadcrumb .divider {
  display: inline-block;
  opacity: 0.7;
  margin: 0em 0.75rem 0em;
  font-size: 0.913em;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: baseline;
}
.wojo.breadcrumb a {
  color: #fff
}
.wojo.breadcrumb a:hover {
  color: #C0392B;
}
.wojo.breadcrumb .icon.divider {
  font-size: 0.875em;
  vertical-align: baseline;
}
.wojo.breadcrumb a.section {
  cursor: pointer;
}
.wojo.breadcrumb .section {
  display: inline-block;
  margin: 0em;
  padding: 0em;
}
.wojo.breadcrumb .active.section {
  color: #C0392B;
}
.wojo.small.breadcrumb {
  font-size: 1em;
}
/* == Sticky == */
.wojo.sticky {
  position: static;
  -webkit-transition: none;
  transition: none;
  z-index: 800;
}
/* Bound */
.wojo.sticky.bound {
  position: absolute;
  left: auto;
  right: auto;
}

/* Fixed */
.wojo.sticky.fixed {
  position: fixed;
  left: auto;
  right: auto;
}

/* Bound/Fixed Position */
.wojo.sticky.bound.top,
.wojo.sticky.fixed.top {
  top: 0px;
  bottom: auto;
}
.wojo.sticky.bound.bottom,
.wojo.sticky.fixed.bottom {
  top: auto;
  bottom: 0px;
}
.wojo.native.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

@media screen and (max-width:48.063em) {
ul.wojo.basic.tabs {
  -webkit-flex-direction: column;
  flex-direction: column;
}
ul.wojo.basic.tabs li {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
}
/* == Lightbox == */
.wbox-preloader {
  position: absolute;
  cursor: default;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  height: 100%;
  width: 100%;
  z-index: 1
}
.wbox-preloader:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 0.28571429rem;
  z-index: 1;
}
.wbox-preloader:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: segment-spin 0.6s linear;
  animation: segment-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 2;
}
.wbox-overlay *,
.wbox-overlay *:before,
.wbox-overlay *:after {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wbox-overlay {
  background: #fdfdfd;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.wbox-close {
  cursor: pointer;
  position: fixed;
  top: -1px;
  right: 0;
  width: 46px;
  height: 40px;
  padding: 10px 20px 10px 0;
  display: block;
  color: #fff;
  overflow: hidden;
  text-align: right;
  z-index: 2
}
.wbox-next,
.wbox-prev {
  box-sizing: content-box;
  cursor: pointer;
  position: fixed;
  top: 50%;
  color: #fff;
  width: 30px;
  height: 100px;
  z-index: 100;
  overflow: hidden;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  line-height: 100px;
  text-align: center;
}
.wbox-prev {
  left: 0;
}
.wbox-next {
  right: 0;
}
.wbox-title {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #fff;
  padding: 6px 40px;
  overflow: hidden;
  background: #161617;
  position: fixed;
  display: none;
  top: -1px;
  left: 0;
}
.wbox-num {
  cursor: pointer;
  position: fixed;
  top: -1px;
  left: 0;
  height: 40px;
  color: #fff;
  overflow: hidden;
  line-height: 28px;
  font-size: 12px;
  padding: 6px 10px;
  background: #161617;
  display: none;
}
.wbox-content .children {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.wbox-inline {
  width: 420px;
  height: 315px;
  padding: 10px;
  background: #fff;
  text-align: left;
  margin: 0 auto;
  overflow: auto;
}
.wojoframe {
  border: none;
  width: 960px;
  height: 720px;
}

@media (max-width: 992px) {
.wojoframe {
  width: 640px;
  height: 480px;
}
}

@media (max-width: 767px) {
.wojoframe {
  width: 420px;
  height: 315px;
}
ul.wojo.fluid.tabs,
ul.wojo.tabs {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
}
ul.wojo.fluid.tabs li,
ul.wojo.tabs li {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  align-self: auto;
  text-align: left;
  border-left: 0
}
}
@media (max-width: 460px) {
.wbox-inline {
  width: 100%;
}
.wojoframe {
  width: 100%;
  height: 260px;
}
}
.wbox-open {
  overflow: hidden;
}
.wbox-container {
  position: relative;
  background: #000;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  z-index: 5
}
.wbox-content {
  text-align: center;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.wbox-container img {
  max-width: 100%;
  height: auto;
}
